body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.home {
    margin-bottom: 2em;
}
.a {
    right: 3px;
    position: absolute;
    color: grey;
}

.a:hover  {
    right: 10px;
    text-decoration: underline;
    color: red;
    margin-bottom: 10px;
}

.home:hover {
    text-decoration: underline;
}

.container {
    padding: 2em 6em;
}

h1 {
    font-family: 'Rowdies', cursive;
    color: orangered;
    margin-left: 20px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-weight: bold;
    margin-left: 20px;
}

.hero-page {
    display: flex;
}

.hero-page img{
    margin-left: 10em;
    width: 50%;
    animation-duration: 3s;
    animation-name: slidein;
}

.hero-page a{
    color: blue;
}

.title {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 120%;
    }

    /*to {
        margin-right: 0%;
        width: 40%;
    }*/
}

a {
    text-decoration: underline;
    line-height: 30px;
 }


 ul li{
     line-height: 30px;
 }

 ol {
    line-height: 30px;
    max-width: 50em;
 }

 .recipe-img {
     width: 60%;
     height: 300px;
 }

 img {
     border-radius: 4px;
 }

 p {
   max-width: 35em;
}


@media screen and (max-width: 700px) {
    .recipe-img {
        width: 100%;
        height: 350px;
        margin: 0;
        border-radius: 2px;
    }

    p {
        max-width: 47em;
    }

    .hero-page {
        display: block;
    }

    .container {
        padding: 1em;
    }


    img {
        border-radius: 0;
        box-shadow: none;
    }
}

@media screen and (min-width: 900px) {
    .recipe-img {
        width: 65%;
        height: 350px;
    }

    p {
        max-width: 40em;
    }
}

@media screen and (min-width: 1200px) {
    .recipe-img {
        width: 50%;
        height: 400px;
    }

    p {
        max-width: 44em;
    }
}


